<li class='card'>

  {{#with oneGuitar}}
    <h2><a href='/guitars/{{_id}}'>{{name}}</a></h2>
    <ul>
      <li>Amount of strings: {{strings}}</li>
      <li>
        <picture>
          <img src='{{picture}}' alt='{{name}}' />

        </picture>
        <li>{{brand}}</li>
      </li>
      <li><a href='/guitars/{{_id}}/delete'>Delete {{name}}</a></li>
    </ul>
  {{/with}}
</li>